:host {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

nav {
    display: flex;
    align-items: center;

    .spacer {
        text-align: center;
    }
}

.player-list {
    .player {
        &.me {
            font-weight: bold;
            color: #ceb1ff;
        }
    }
}