/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Helvetica", sans-serif;
    background: black;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

.logo {
    display: inline-block;
    font-weight: 700;
    color: white;
    font-size: 15px;
    width: fit-content;
    margin: 1em 1em 1em 0;
    padding: 0;
    transform-origin: top left;
    animation-fill-mode: forwards;
    line-height: 1em;

    i {
        display: block;
        font-style: normal;
    }

    &.animated {
        animation: logo-intro 1s;
    }
}

$big-font: 10vw;
$small-font: 15pt;

@keyframes logo-intro {
    0% {
        transform-origin: center left;
        font-size: $big-font;
        transform: rotateY(90deg);
    }

    86% {
        transform: rotateY(0deg);
    }

    87% {
        transform-origin: top left; 
        font-size: $big-font;
    }

    100% {
        font-size: $small-font;
    }
}

.spacer {
    flex-grow: 1;
}

a {
    color: white;
    text-decoration: underline;
}
