/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Helvetica", sans-serif;
    background: black;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
}

html, body { height: 100%; }

.logo {
    display: inline-block;
    font-weight: 700;
    color: white;
    font-size: 24px;
    width: fit-content;
    margin: 1em 1em 1em 0;
    padding: 0;

    i {
        display: block;
        font-style: normal;
        line-height: 1;
        white-space: nowrap;
    }

    &.with-intro {
        position: absolute;
        transform-origin: top left;
        animation: logo-intro 1s;
        animation-fill-mode: forwards;
        z-index: 10;
    }

    &.animated {
        animation: logo-intro 1s;
    }
}

@keyframes logo-intro {
    0% {
        transform: rotateY(90deg) scale(3);
        margin: 0;
        background-color: black;
        padding: 10px;
    }

    86% {
        transform: rotateY(0deg) scale(3);
        margin: 0;
        background-color: black;
        padding: 10px;
    }

    87% {
        transform: scale(3);
        margin: 0;
    }

    100% {
        transform: scale(1);
    }
}

.spacer {
    flex-grow: 1;
}

a {
    color: white;
    text-decoration: underline;
}

router-outlet {
    display: none;
}

.mat-menu-item {
    img {
        width: 24px;
        height: 24px;
        aspect-ratio: 1/1;
        object-fit: contain;
        vertical-align: middle;
        margin-right: 16px;
    }
}

mat-dialog-container.mat-dialog-container {
    height: auto;
}